footer {
    padding: 0;
    background-color: #000;
}

.footer-siteinfo {
    padding-top: 10px;
    padding-bottom: 20px;
}

.footer-copyright {
    padding-top: 5px;
    padding-bottom: 20px;
    background-color: #242424;
}

.est-logo {
    padding-top: 5px;
}
